.add-form.add-person-form .add-relation-row {
  width: 100%;
  flex-direction: row-reverse;
  margin-bottom: 10px; }
  @media only screen and (max-width: 400px) {
    .add-form.add-person-form .add-relation-row {
      flex-direction: column; } }
  .add-form.add-person-form .add-relation-row .people-search-form {
    position: relative;
    outline: none; }
    @media only screen and (max-width: 400px) {
      .add-form.add-person-form .add-relation-row .people-search-form {
        width: 100%; } }
    .add-form.add-person-form .add-relation-row .people-search-form .people-search-result-list {
      width: 250px;
      z-index: 3; }
    @media only screen and (max-width: 400px) {
      .add-form.add-person-form .add-relation-row .people-search-form .search-input {
        width: 270px; } }
  .add-form.add-person-form .add-relation-row .button-add-relation {
    color: #ffffff;
    font-weight: 500;
    border-radius: 4px;
    background: #FF6204;
    border: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    margin: 0 5px 0 0; }
    @media only screen and (max-width: 400px) {
      .add-form.add-person-form .add-relation-row .button-add-relation {
        width: 255px; } }
    .add-form.add-person-form .add-relation-row .button-add-relation:hover {
      cursor: pointer;
      background: #DC5D14; }
    .add-form.add-person-form .add-relation-row .button-add-relation svg {
      margin-right: 5px; }
  @media only screen and (max-width: 400px) {
    .add-form.add-person-form .add-relation-row .relation-type {
      width: 100%; } }
  .add-form.add-person-form .add-relation-row .relation-type .form-field {
    width: 120px; }
    @media only screen and (max-width: 400px) {
      .add-form.add-person-form .add-relation-row .relation-type .form-field {
        width: 270px; } }

.add-form.add-person-form .add-guardian-fields-button:hover {
  cursor: pointer; }
