@import 'variables.scss';

.add-form {
  &.add-person-form {
    .add-relation-row {
      width: 100%;
      flex-direction: row-reverse;
      margin-bottom: 10px;
      @media only screen and (max-width: 400px) {
        flex-direction: column;
      }
      .people-search-form {
        position: relative;
        outline: none;
        @media only screen and (max-width: 400px) {
          width: 100%;
        }
        .people-search-result-list {
          width: 250px;
          z-index: 3;
        }
        .search-input {
          @media only screen and (max-width: 400px) {
            width: 270px;
          }

        }
      }
      .button-add-relation {
        color: $white;
        font-weight: 500;
        border-radius: 4px;
        background: $brightOrange;
        border: none;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 15px;
        margin: 0 5px 0 0;
        @media only screen and (max-width: 400px) {
          width: 255px;
        }

        &:hover {
          cursor: pointer;
          background: $darkOrange;
        }
        svg {
          margin-right: 5px;
        }
      }
      .relation-type {
        @media only screen and (max-width: 400px) {
          width: 100%;
        }
        .form-field {
          width: 120px;
          @media only screen and (max-width: 400px) {
            width: 270px;
          }

        }
      }
    }
    .add-guardian-fields-button {
      &:hover {
        cursor: pointer;
      }
    }

  }
}
