@import 'variables.scss';

.group {
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 15px;
  border-radius: 12px;
  background: $white;
  min-width: 250px;
  width: 20%;
  flex: none;
  //@media only screen and (min-width: 1024px) {
  //  width: 20%;
  //  flex: none;
  //}
  .group-image-view {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: $blue;
    border-radius: 12px;
    min-width: 80px;
    height: 80px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 7px solid $blue;
      transform: translate(-100%, 0);
    }
    .group-image {

    }
  }
  .group-info {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    text-align: right;
    align-items: flex-end;
    .group-name {
      .name  {
        margin: 0;
      }
    }
  }
  .group-actions {
    display: flex;
    margin-top: 10px;
    .message, .edit {
      display: block;
      height: 30px;
      width: 30px;
      background-size: 30px 30px;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
      &:not(:first-child) {
        margin-left: 5px;
      }
      &.disabled {
        &:hover {
          cursor: not-allowed;
          transform: none;
        }
        .mail-link {
          &:hover {
            cursor: not-allowed;
          }
        }
      }
    }
    .message {
      background: url("./statics/img/mail_md_icon.png") no-repeat center center;
    }
    .edit {
      background: url("./statics/img/edit_md_icon.png") no-repeat center center;
    }
  }
}

