.wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px; }
  .actions .add-group, .actions .relate-people-group, .actions .delete-group, .actions .add-people {
    display: block;
    height: 30px;
    width: 30px; }
    .actions .add-group:hover, .actions .relate-people-group:hover, .actions .delete-group:hover, .actions .add-people:hover {
      cursor: pointer;
      transform: scale(1.1); }
    .actions .add-group:not(:first-child), .actions .relate-people-group:not(:first-child), .actions .delete-group:not(:first-child), .actions .add-people:not(:first-child) {
      margin-left: 5px; }
    .actions .add-group.disabled:hover, .actions .relate-people-group.disabled:hover, .actions .delete-group.disabled:hover, .actions .add-people.disabled:hover {
      cursor: not-allowed;
      transform: none; }
  .actions .add-group {
    background: url("/statics/img/add_icon_small.png") no-repeat center center; }
  .actions .relate-people-group {
    background: url("/statics/img/connect_icon_small.png") no-repeat center center; }
  .actions .delete-group {
    background: url("/statics/img/delete_icon_small.png") no-repeat center center; }
  .actions .add-people {
    background: url("/statics/img/add_people_small.png") no-repeat center center; }

.group {
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  padding: 20px 15px;
  border-radius: 12px;
  background: #ffffff;
  min-width: 200px;
  width: 13%;
  flex: none; }
  @media only screen and (max-width: 767px) {
    .group {
      min-width: 250px; } }
  .group.group-full-representation {
    width: 300px;
    font-size: 150%; }
  .group .group-info {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    text-align: right; }
    .group .group-info .group-name {
      font-size: 90%; }
      .group .group-info .group-name .name {
        margin: 0; }
  .group .group-actions {
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
    justify-content: flex-end; }
    .group .group-actions .message, .group .group-actions .edit {
      display: block;
      height: 30px;
      width: 30px;
      background-size: 30px 30px; }
      .group .group-actions .message:hover, .group .group-actions .edit:hover {
        cursor: pointer;
        transform: scale(1.1); }
      .group .group-actions .message:not(:first-child), .group .group-actions .edit:not(:first-child) {
        margin-left: 5px; }
      .group .group-actions .message.disabled:hover, .group .group-actions .edit.disabled:hover {
        cursor: not-allowed;
        transform: none; }
      .group .group-actions .message.disabled .mail-link:hover, .group .group-actions .edit.disabled .mail-link:hover {
        cursor: not-allowed; }
    .group .group-actions .message {
      background: url("/statics/img/mail_md_icon.png") no-repeat center center; }
    .group .group-actions .edit {
      background: url("/statics/img/edit_md_icon.png") no-repeat center center; }
