.group {
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 15px;
  border-radius: 12px;
  background: #ffffff;
  min-width: 250px;
  width: 20%;
  flex: none; }
  .group .group-image-view {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #3869bb;
    border-radius: 12px;
    min-width: 80px;
    height: 80px; }
    .group .group-image-view:after {
      content: "";
      position: absolute;
      left: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 7px solid #3869bb;
      transform: translate(-100%, 0); }
  .group .group-info {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    text-align: right;
    align-items: flex-end; }
    .group .group-info .group-name .name {
      margin: 0; }
  .group .group-actions {
    display: flex;
    margin-top: 10px; }
    .group .group-actions .message, .group .group-actions .edit {
      display: block;
      height: 30px;
      width: 30px;
      background-size: 30px 30px; }
      .group .group-actions .message:hover, .group .group-actions .edit:hover {
        cursor: pointer;
        transform: scale(1.1); }
      .group .group-actions .message:not(:first-child), .group .group-actions .edit:not(:first-child) {
        margin-left: 5px; }
      .group .group-actions .message.disabled:hover, .group .group-actions .edit.disabled:hover {
        cursor: not-allowed;
        transform: none; }
      .group .group-actions .message.disabled .mail-link:hover, .group .group-actions .edit.disabled .mail-link:hover {
        cursor: not-allowed; }
    .group .group-actions .message {
      background: url("/statics/img/mail_md_icon.png") no-repeat center center; }
    .group .group-actions .edit {
      background: url("/statics/img/edit_md_icon.png") no-repeat center center; }
