.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: none;
  padding: 25px;
  position: fixed;
  z-index: 2;
  background: #e8f1f3;
  box-shadow: 0 4px 2px -2px #808080; }
  @media only screen and (max-width: 767px) {
    .header {
      justify-content: center;
      flex-direction: column;
      height: 180px; } }
  .header .header-action-buttons {
    margin-left: 30px; }
    @media only screen and (max-width: 767px) {
      .header .header-action-buttons {
        margin: 15px 0; } }
  .header .refresh-button {
    position: relative;
    width: auto;
    padding: 10px 10px 10px 45px;
    font-size: 150%;
    background: transparent;
    border: none;
    outline: none; }
    .header .refresh-button:before {
      content: "";
      display: block;
      background: url("/statics/img/refresh.svg") no-repeat center center;
      background-size: 30px 30px;
      height: 30px;
      width: 30px;
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translate(0, -50%); }
    .header .refresh-button:hover {
      cursor: pointer;
      transform: scale(1.1); }
  .header .go-back-button {
    position: relative;
    width: auto;
    padding: 10px 10px 10px 45px;
    font-size: 150%;
    background: transparent;
    border: none;
    outline: none; }
    .header .go-back-button:before {
      content: "";
      display: block;
      background: url("/statics/img/go_back_icon.svg") no-repeat center center;
      background-size: 30px 30px;
      height: 30px;
      width: 30px;
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translate(0, -50%); }
    .header .go-back-button:hover {
      cursor: pointer;
      transform: scale(1.1); }
    .header .go-back-button.disabled:hover {
      cursor: not-allowed;
      transform: none; }
  .header .shortcut-container {
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-right: 30px; }
    @media only screen and (max-width: 767px) {
      .header .shortcut-container {
        margin: 15px 0; } }
    .header .shortcut-container:hover {
      cursor: pointer;
      transform: scale(1.1); }
    .header .shortcut-container .shortcut-button {
      border: none;
      background: transparent;
      margin-right: 15px;
      padding: 0 10px;
      font-size: 40px; }
      .header .shortcut-container .shortcut-button:hover {
        cursor: pointer; }
      .header .shortcut-container .shortcut-button:active, .header .shortcut-container .shortcut-button:focus {
        outline: none; }
