@import 'variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: none;
  padding: 25px;
  position: fixed;
  z-index: 2;
  background: $backgroundColor;
  box-shadow: 0 4px 2px -2px $grey;
  @media only screen and (max-width: 767px) {
    justify-content: center;
    flex-direction: column;
    height: 210px;
  }
  .header-action-buttons {
    margin-left: 30px;
    @media only screen and (max-width: 767px) {
      margin: 0;
    }
  }
  .refresh-button {
    position: relative;
    width: auto;
    padding: 10px;
    font-size: 150%;
    background: transparent;
    border: none;
    outline: none;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  .go-back-button {
    position: relative;
    width: auto;
    padding: 10px;
    font-size: 150%;
    background: transparent;
    border: none;
    outline: none;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    &.disabled {
      &:hover {
        cursor: not-allowed;
        transform: none;
      }
    }
  }
  .profile-section {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 420px) {
      padding: 15px;
      margin-left: -20px;
    }
  }
  .shortcut-container {
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    @media only screen and (max-width: 767px) {
      margin: 15px 0;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    .shortcut-button {
      border: none;
      background: transparent;
      margin-right: 15px;
      padding: 0 10px;
      font-size: 40px;
      &:hover {
        cursor: pointer;
      }
      &:active, &:focus {
        outline: none;
      }
    }

  }

}
