@import 'variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: none;
  padding: 25px;
  position: fixed;
  z-index: 2;
  background: $backgroundColor;
  box-shadow: 0 4px 2px -2px $grey;
  @media only screen and (max-width: 767px) {
    justify-content: center;
    flex-direction: column;
    height: 180px;
  }
  .header-action-buttons {
    margin-left: 30px;
    @media only screen and (max-width: 767px) {
      margin: 15px 0;
    }
  }
  .refresh-button {
    position: relative;
    width: auto;
    padding: 10px 10px 10px 45px;
    font-size: 150%;
    background: transparent;
    border: none;
    outline: none;
    &:before {
      content: "";
      display: block;
      background: url("/statics/img/refresh.svg") no-repeat center center;
      background-size: 30px 30px;
      height: 30px;
      width: 30px;
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translate(0, -50%);
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  .go-back-button {
    position: relative;
    width: auto;
    padding: 10px 10px 10px 45px;
    font-size: 150%;
    background: transparent;
    border: none;
    outline: none;
    &:before {
      content: "";
      display: block;
      background: url("/statics/img/go_back_icon.svg") no-repeat center center;
      background-size: 30px 30px;
      height: 30px;
      width: 30px;
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translate(0, -50%);
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    &.disabled {
      &:hover {
        cursor: not-allowed;
        transform: none;
      }
    }
  }
  .shortcut-container {
    font-size: 40px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    @media only screen and (max-width: 767px) {
      margin: 15px 0;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    .shortcut-button {
      border: none;
      background: transparent;
      margin-right: 15px;
      padding: 0 10px;
      font-size: 40px;
      &:hover {
        cursor: pointer;
      }
      &:active, &:focus {
        outline: none;
      }
    }

  }

}
