.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }

.actions {
  position: absolute;
  top: 0;
  height: 100%;
  left: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px; }
  @media only screen and (max-width: 767px) {
    .actions {
      left: 0; } }
  .actions .relate-people-people, .actions .delete-people {
    display: block;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    background: transparent;
    border: none;
    outline: none; }
    .actions .relate-people-people:hover, .actions .delete-people:hover {
      cursor: pointer;
      transform: scale(1.1); }
    .actions .relate-people-people.disabled:hover, .actions .delete-people.disabled:hover {
      cursor: not-allowed;
      transform: none; }
  .actions .relate-people-people {
    background: url("/statics/img/connect_icon_small.png") no-repeat center center; }
  .actions .delete-people {
    background: url("/statics/img/delete_icon_small.png") no-repeat center center; }

.person {
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  padding: 20px 15px;
  border-radius: 12px;
  background: #ffffff;
  min-width: 200px;
  width: 13%;
  flex: none; }
  @media only screen and (max-width: 767px) {
    .person {
      min-width: 250px; } }
  .person.person-full-representation {
    width: 300px;
    font-size: 150%; }
  .person .person-image {
    margin: 0;
    height: 70px;
    border-radius: 12px;
    width: auto;
    object-fit: contain; }
  .person .person-info {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    text-align: right; }
    .person .person-info .person-name {
      font-size: 90%; }
      .person .person-info .person-name .name, .person .person-info .person-name .surname {
        margin: 0; }
  .person .person-actions {
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
    justify-content: flex-end; }
    .person .person-actions .mail, .person .person-actions .message, .person .person-actions .call, .person .person-actions .edit {
      display: block;
      height: 30px;
      width: 30px;
      background-size: 30px 30px;
      background: transparent;
      border: none;
      outline: none; }
      .person .person-actions .mail:hover, .person .person-actions .message:hover, .person .person-actions .call:hover, .person .person-actions .edit:hover {
        cursor: pointer;
        transform: scale(1.1); }
      .person .person-actions .mail:not(:first-child), .person .person-actions .message:not(:first-child), .person .person-actions .call:not(:first-child), .person .person-actions .edit:not(:first-child) {
        margin-left: 5px; }
      .person .person-actions .mail.disabled:hover, .person .person-actions .message.disabled:hover, .person .person-actions .call.disabled:hover, .person .person-actions .edit.disabled:hover {
        cursor: not-allowed;
        transform: none; }
      .person .person-actions .mail.disabled .mail-link:hover, .person .person-actions .message.disabled .mail-link:hover, .person .person-actions .call.disabled .mail-link:hover, .person .person-actions .edit.disabled .mail-link:hover {
        cursor: not-allowed; }
    .person .person-actions .mail {
      background: url("/statics/img/mail_icon.png") no-repeat center center; }
      .person .person-actions .mail .mail-link {
        display: block;
        height: 30px;
        width: 30px;
        opacity: 0; }
    .person .person-actions .message {
      background: url("/statics/img/mail_md_icon.png") no-repeat center center; }
    .person .person-actions .call {
      background: url("/statics/img/phone_md_icon.png") no-repeat center center; }
    .person .person-actions .edit {
      background: url("/statics/img/edit_md_icon.png") no-repeat center center; }
