@import 'variables.scss';

.person {
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 15px;
  border-radius: 12px;
  background: $white;
  min-width: 200px;
  width: 13%;
  flex: none;
  @media only screen and (max-width: 767px) {
    min-width: 250px;
  }
  &.person-full-representation {
    width: 300px;
    font-size: 150%;
  }
  .person-image-view {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: $lightgreen;
    border-radius: 12px;
    min-width: 80px;
    height: 80px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 7px solid $lightgreen;
      transform: translate(-100%, 0);
    }
    .person-image {

    }
  }
  .person-info {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    text-align: right;
    align-items: flex-end;
    .person-name {
      .name, .surname {
        margin: 0;
      }
    }
  }
  .person-actions {
    display: flex;
    margin-top: 10px;
    .mail, .message, .call, .edit {
      display: block;
      height: 30px;
      width: 30px;
      background-size: 30px 30px;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
      &:not(:first-child) {
        margin-left: 5px;
      }
      &.disabled {
        &:hover {
          cursor: not-allowed;
          transform: none;
        }
        .mail-link {
          &:hover {
            cursor: not-allowed;
          }
        }
      }
    }
    .mail {
      background: url("/statics/img/mail_icon.png") no-repeat center center;
      .mail-link {
        display: block;
        height: 30px;
        width: 30px;
        opacity: 0;
      }
    }
    .message {
      background: url("/statics/img/mail_md_icon.png") no-repeat center center;
    }
    .call {
      background: url("/statics/img/phone_md_icon.png") no-repeat center center;
    }
    .edit {
      background: url("/statics/img/edit_md_icon.png") no-repeat center center;
    }
  }
}
