.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center; }

.popup {
  width: auto;
  min-width: 280px;
  z-index: 6;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
  max-height: 400px;
  overflow: auto;
  background: #ffffff; }
  @media only screen and (max-width: 400px) {
    .popup {
      width: 100vw;
      height: 100vh; } }
  .popup.guardian-popup {
    min-height: 400px;
    min-width: 450px;
    top: 0;
    margin-top: 100px; }
    .popup.guardian-popup .add-guardian-form {
      z-index: 5; }
  .popup.add-person-popup, .popup.update-person-popup {
    top: 0;
    margin-top: 100px;
    min-width: 450px; }
  @media only screen and (max-width: 1024px) {
    .popup {
      top: 25%; } }
  @media only screen and (max-width: 480px) {
    .popup {
      left: 0;
      right: 0;
      margin: auto; } }
  .popup .form {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #ffffff;
    padding: 20px 25px;
    flex: none; }
    .popup .form.delete-form .form-row {
      display: flex;
      flex-direction: row;
      padding: 5px; }
    .popup .form.delete-form .button-cancel {
      background: #bb3838;
      color: #ffffff;
      max-width: 120px;
      font-size: 16px;
      padding: 5px 15px;
      border-radius: 4px;
      outline: none;
      border: none;
      margin: 5px; }
      .popup .form.delete-form .button-cancel.upload-request {
        background: #808080; }
      .popup .form.delete-form .button-cancel:hover {
        cursor: pointer;
        background: #8B0000; }
    .popup .form .button-close {
      border: none;
      outline: none;
      background: white;
      width: 15px;
      height: 15px;
      position: sticky;
      top: 20px;
      margin-right: auto; }
      .popup .form .button-close:hover {
        cursor: pointer; }
      .popup .form .button-close:after, .popup .form .button-close:before {
        content: "";
        width: 2px;
        height: 15px;
        background: #939d9f;
        border-radius: 1px;
        position: absolute;
        top: 0;
        left: 0; }
      .popup .form .button-close:after {
        transform: rotate(45deg); }
      .popup .form .button-close:before {
        transform: rotate(-45deg); }
    .popup .form .form-row {
      display: flex;
      width: 95%;
      flex-direction: column;
      justify-content: flex-end; }
    .popup .form .form-text {
      margin: 5px;
      text-align: right; }
    .popup .form .field-label {
      display: block;
      text-align: right;
      margin: 0 5px;
      font-size: 14px; }
    .popup .form .form-image-row {
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .popup .form .form-image-row.upload-success:after {
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        width: 3px;
        height: 6px;
        border: solid #5dbb38;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg); }
      .popup .form .form-image-row.upload-failure:after, .popup .form .form-image-row.upload-failure:before {
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        width: 2px;
        background: #bb3838; }
      .popup .form .form-image-row.upload-failure:after {
        height: 10px;
        transform: rotate(45deg); }
      .popup .form .form-image-row.upload-failure:before {
        height: 8px;
        transform: rotate(-45deg); }
      .popup .form .form-image-row .form-image {
        background: #939d9f;
        margin: 5px;
        height: 70px; }
    .popup .form .picture-label {
      display: block;
      background: #939d9f;
      border: 1px solid #808080;
      color: #ffffff;
      margin: 5px;
      border-radius: 3px;
      padding: 5px 15px; }
      .popup .form .picture-label:hover {
        cursor: pointer;
        background: #808080; }
    .popup .form .form-field {
      border-radius: 3px;
      text-align: right;
      padding: 5px;
      margin: 5px;
      font-size: 16px; }
      .popup .form .form-field[type="file"] {
        display: none; }
    .popup .form .button-submit {
      background: #5dbb38;
      color: #ffffff;
      max-width: 120px;
      font-size: 16px;
      padding: 5px 15px;
      border-radius: 4px;
      outline: none;
      border: none;
      margin: 5px; }
      .popup .form .button-submit.upload-request {
        background: #808080; }
      .popup .form .button-submit:hover {
        cursor: pointer;
        background: #328332; }
