@import 'variables.scss';

.selected-item-view {
  display: flex;
  justify-content: center;
  align-items: center;
  .selected-item {
    position: relative;
    .group-image-view, .person-image-view {
      background: $red;
      &:after {
        border-right: 7px solid $red;
      }
    }
  }
}