.selected-item-view {
  display: flex;
  justify-content: center;
  align-items: center; }
  .selected-item-view .selected-item {
    position: relative;
    min-height: 150px; }
    .selected-item-view .selected-item .group-image-view, .selected-item-view .selected-item .person-image-view {
      background: #bb3838; }
      .selected-item-view .selected-item .group-image-view:after, .selected-item-view .selected-item .person-image-view:after {
        border-right: 7px solid #bb3838; }
